<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  
  <parameter name="url" value="www.facebook.com"/>
  <parameter name="username" value="vignesh"/>
  <parameter name="password" value="Vicky654"/>
    <classes>
      <class name="com.qa.demoproject.TestNGdemo"/>
      <class name="com.qa.demoproject.TestNGFeatures"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
